- 올리브영
    1. 여드름 패치
    2. 썬크림
    3. 비비크림
    4. 클렌징 폼
    5.

1. 연구실
    - 파이썬 실력 늘리기
    - 밑바닥부터 시작하는 딥러닝
    - 알고리즘, 자료구조

2. ssafy gsat(11월 중순 적성), 25일부터 서류 지원

In [106]:
orders = ["ABCFG", "AC", "CDE", "ACDE", "BCFG", "ACDEH"]

In [110]:
orders = ["ABCDE", "AB", "CD", "ADE", "XYZ", "XYZ", "ACD"]

In [35]:
orders = ["XYZ", "XWY", "WXA"]

In [26]:
A = [1, 3, 5, 7, 9]
B = [10, 5, 1, 2, 4]

C = set(A) & set(B)
D = [i for i in A if i in B]

print(C)
print(D)

{1, 5}
[1, 5]

In [ ]:
menu_list.append(

In [91]:
"".join(list(set(orders[0]) & set(orders[3])))

'DAE'

In [115]:
for i in "ADE":
    for j in "ADE":
        print(i+j)

AA
AD
AE
DA
DD
DE
EA
ED
EE

In [119]:
for i in ["A","B"]:
    print(i)

A
B

In [131]:
ade
ad 1 2
ae 1 3
de 2 3

'AA'

In [134]:
menu_count

{'AB': 1, 'CD': 1, 'AD': 1}

In [150]:
a = "".join(orders)

In [158]:
a = list(set(a))
a.sort()
a

['A', 'B', 'C', 'D', 'E', 'X', 'Y', 'Z']

In [191]:
i

1168

In [190]:
k[i].count(j) > 2

IndexError: list index out of range

In [187]:
range(len(k))

range(0, 1167)

In [197]:
"A","B".count(j)

('A', 0)

In [199]:
len(k)

1167

In [202]:
k[0].count("A")

5

In [210]:
len(set(k[0]))

2

In [219]:
kk[0]

('A', 'B', 'C', 'D', 'E', 'X')

In [223]:
list(orders[0])

['A', 'B', 'C', 'D', 'E']

In [224]:
"A" and "B" and "C" in list(orders[0])

True

In [211]:
from itertools import combinations_with_replacement
total = []


 = list(combinations_with_replacement(a,6))

kk = []
for i in range(len(k)):
    if len(set(k[i])) > 5:
        kk.append(k[i])

In [212]:
len(kk)

28

In [195]:
len(kk)

7505

In [267]:
menu_count[menu_two] += 1

In [268]:
menu_count[menu_two]

6

In [275]:
menu_list = []
menu_count = {}
menu_2=[]
for i in range(len(orders)):
    for j in range(0,i):
        menu = list(set(orders[j]) & set(orders[i]))
        menu.sort()
        
        
        
        if menu ==[]:
            continue
        else:
            
            
            if len(menu) > 2:
                print(menu)
                for i in range(len(menu)):
                    for j in range(i+1, len(menu)):
                        menu_two = menu[i] +menu[j]
                        #print(menu_two)
                        if menu_two in menu_list:
                            menu_count[menu_two] += 1
                            

                        else:
                            menu_list.append(menu_two)
                            menu_count[menu_two] = 1
                            
                            
                            
                            

                menu = "".join(menu)
               
                if menu in menu_list:
                    menu_count[menu] += 1

                elif menu not in menu_list:
                    menu_list.append(menu)
                    menu_count[menu] = 1

            elif len(menu) == 2:
                menu = "".join(menu)
                print(menu)
                if menu in menu_list:
                    menu_count[menu] += 1

                else:
                    menu_list.append(menu)
                    menu_count[menu] = 1


            else:
                continue
                
result = []
course = []
for i,v in menu_count.items():
    for i in range(2,len(max(menu_list, key=len))+1)
    if len(i)

AB
CD
['A', 'D', 'E']
CD
['X', 'Y', 'Z']
['A', 'C', 'D']
CD

'ADE'

In [302]:
for i in range(2,len(max(menu_list, key=len))+1):
    print(i)

2
3

In [299]:
menu_list

['AB', 'CD', 'AD', 'AE', 'DE', 'ADE', 'XY', 'XZ', 'YZ', 'XYZ', 'AC', 'ACD']

3

In [293]:
result

['CD', 'AD']

In [260]:
menu_list

['AB', 'CD', 'AD', 'AE', 'DE', 'ADE', 'XY', 'XZ', 'YZ', 'XYZ', 'AC', 'ACD']

In [ ]:
[k for k,v in di.items() if max(di.values()) == v]

In [329]:
menu_count

{'AB': 1,
 'CD': 4,
 'AD': 2,
 'AE': 1,
 'DE': 1,
 'ADE': 1,
 'XY': 1,
 'XZ': 1,
 'YZ': 1,
 'XYZ': 1,
 'AC': 1,
 'ACD': 1}

In [326]:
[k for k,v in menu_count.items() if max(menu_count.values()) == 1 and len(k) == len(max(menu_count, key=len))]

[]

In [312]:
max(menu_count, key=len)

'ADE'

In [276]:
if max(menu_count

{'AB': 1,
 'CD': 4,
 'AD': 2,
 'AE': 1,
 'DE': 1,
 'ADE': 1,
 'XY': 1,
 'XZ': 1,
 'YZ': 1,
 'XYZ': 1,
 'AC': 1,
 'ACD': 1}

In [50]:
menu_list

[{'X', 'Y'}, {'X'}, {'W', 'X'}]

In [78]:
menu=[]
for i in orders:
    menu.append(set(i))

menu_list =[]
menu_count = {}
for i in range(len(menu)):
    for j in range(len(menu)):
        
        if i == j or menu[i] & menu[j] == set():
            continue
            
        elif len(menu[i] & menu[j]) == 1:
            continue
            
        else:
            if menu[i] & menu[j] in menu_list:
                menu_count["".join(menu[i] & menu[j])] += 1
                menu_list.append(menu[i] & menu[j])

            elif menu[i] & menu[j] not in menu_list:
                menu_count["".join(menu[i] & menu[j])] = 1
                menu_list.append(menu[i] & menu[j])

            print(i,j, "\n===", menu[i] & menu[j],"\n===",menu_list,"\n===", menu_count)
            print("------------------------------------------")

0 1
=== {'A', 'B'}
=== [{'A', 'B'}]
=== {'AB': 1}
------------------------------------------
0 2
=== {'D', 'C'}
=== [{'A', 'B'}, {'D', 'C'}]
=== {'AB': 1, 'DC': 1}
------------------------------------------
0 3
=== {'D', 'A', 'E'}
=== [{'A', 'B'}, {'D', 'C'}, {'D', 'A', 'E'}]
=== {'AB': 1, 'DC': 1, 'DAE': 1}
------------------------------------------
0 6
=== {'D', 'A', 'C'}
=== [{'A', 'B'}, {'D', 'C'}, {'D', 'A', 'E'}, {'D', 'A', 'C'}]
=== {'AB': 1, 'DC': 1, 'DAE': 1, 'DAC': 1}
------------------------------------------
1 0
=== {'A', 'B'}
=== [{'A', 'B'}, {'D', 'C'}, {'D', 'A', 'E'}, {'D', 'A', 'C'}, {'A', 'B'}]
=== {'AB': 2, 'DC': 1, 'DAE': 1, 'DAC': 1}
------------------------------------------
2 0
=== {'D', 'C'}
=== [{'A', 'B'}, {'D', 'C'}, {'D', 'A', 'E'}, {'D', 'A', 'C'}, {'A', 'B'}, {'D', 'C'}]
=== {'AB': 2, 'DC': 2, 'DAE': 1, 'DAC': 1}
------------------------------------------
2 6
=== {'D', 'C'}
=== [{'A', 'B'}, {'D', 'C'}, {'D', 'A', 'E'}, {'D', 'A', 'C'}, {'A', 'B'}, {'D', 'C'}, {'D', 'C'}]
=== {'AB': 2, 'DC': 3, 'DAE': 1, 'DAC': 1}
------------------------------------------
3 0
=== {'D', 'A', 'E'}
=== [{'A', 'B'}, {'D', 'C'}, {'D', 'A', 'E'}, {'D', 'A', 'C'}, {'A', 'B'}, {'D', 'C'}, {'D', 'C'}, {'D', 'A', 'E'}]
=== {'AB': 2, 'DC': 3, 'DAE': 2, 'DAC': 1}
------------------------------------------
3 6
=== {'D', 'A'}
=== [{'A', 'B'}, {'D', 'C'}, {'D', 'A', 'E'}, {'D', 'A', 'C'}, {'A', 'B'}, {'D', 'C'}, {'D', 'C'}, {'D', 'A', 'E'}, {'D', 'A'}]
=== {'AB': 2, 'DC': 3, 'DAE': 2, 'DAC': 1, 'DA': 1}
------------------------------------------
4 5
=== {'Z', 'Y', 'X'}
=== [{'A', 'B'}, {'D', 'C'}, {'D', 'A', 'E'}, {'D', 'A', 'C'}, {'A', 'B'}, {'D', 'C'}, {'D', 'C'}, {'D', 'A', 'E'}, {'D', 'A'}, {'Z', 'Y', 'X'}]
=== {'AB': 2, 'DC': 3, 'DAE': 2, 'DAC': 1, 'DA': 1, 'ZYX': 1}
------------------------------------------
5 4
=== {'Z', 'Y', 'X'}
=== [{'A', 'B'}, {'D', 'C'}, {'D', 'A', 'E'}, {'D', 'A', 'C'}, {'A', 'B'}, {'D', 'C'}, {'D', 'C'}, {'D', 'A', 'E'}, {'D', 'A'}, {'Z', 'Y', 'X'}, {'Z', 'Y', 'X'}]
=== {'AB': 2, 'DC': 3, 'DAE': 2, 'DAC': 1, 'DA': 1, 'ZYX': 2}
------------------------------------------
6 0
=== {'D', 'A', 'C'}
=== [{'A', 'B'}, {'D', 'C'}, {'D', 'A', 'E'}, {'D', 'A', 'C'}, {'A', 'B'}, {'D', 'C'}, {'D', 'C'}, {'D', 'A', 'E'}, {'D', 'A'}, {'Z', 'Y', 'X'}, {'Z', 'Y', 'X'}, {'D', 'A', 'C'}]
=== {'AB': 2, 'DC': 3, 'DAE': 2, 'DAC': 2, 'DA': 1, 'ZYX': 2}
------------------------------------------
6 2
=== {'D', 'C'}
=== [{'A', 'B'}, {'D', 'C'}, {'D', 'A', 'E'}, {'D', 'A', 'C'}, {'A', 'B'}, {'D', 'C'}, {'D', 'C'}, {'D', 'A', 'E'}, {'D', 'A'}, {'Z', 'Y', 'X'}, {'Z', 'Y', 'X'}, {'D', 'A', 'C'}, {'D', 'C'}]
=== {'AB': 2, 'DC': 4, 'DAE': 2, 'DAC': 2, 'DA': 1, 'ZYX': 2}
------------------------------------------
6 3
=== {'D', 'A'}
=== [{'A', 'B'}, {'D', 'C'}, {'D', 'A', 'E'}, {'D', 'A', 'C'}, {'A', 'B'}, {'D', 'C'}, {'D', 'C'}, {'D', 'A', 'E'}, {'D', 'A'}, {'Z', 'Y', 'X'}, {'Z', 'Y', 'X'}, {'D', 'A', 'C'}, {'D', 'C'}, {'D', 'A'}]
=== {'AB': 2, 'DC': 4, 'DAE': 2, 'DAC': 2, 'DA': 2, 'ZYX': 2}
------------------------------------------

In [79]:
menu_count

{'AB': 2, 'DC': 4, 'DAE': 2, 'DAC': 2, 'DA': 2, 'ZYX': 2}

In [115]:
 m1 = list(menu[5]  & menu[3])
m1.sort()